[submodule "home-machines/.vim/bundle/vundle"]
   path = home-machines/.vim/bundle/vundle
   url = http://github.com/gmarik/vundle.git

[submodule "home-machines/bash_completion.d/virsh-bash-completion"]
	path = home-machines/bash_completion.d/virsh-bash-completion
	url = https://github.com/LuyaoHuang/virsh-bash-completion.git

