[user]
	# user.name value can be overridden by the GIT_AUTHOR_NAME and 
	# GIT_COMMITTER_NAME env var's.
	name = Bryn Davies
	# user.email value can be overridden by the GIT_AUTHOR_EMAIL, 
	# GIT_COMMITTER_EMAIL, and EMAIL env var's.
	email = tdowg1@yahoo.com
#	email = bdavies@spryinc.com

[github]
	user = tdowg1
	token = e5efbf38d1a9145056c794dec3ee474c

[core]
	excludesfile = ~/.gitignore_core.excludesfile

[alias]
	h = help
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	di = diff
	#lg = log -p
	#logp = log -p
	#logs = log --stat
	#logps = log -p --stat

	#DOESN'T WORK
	#taghash = show -s --format='%h - %s' $1^{commit}
	
	# Additional: goog'git log wiki pretty'
	# git 'pretty log' "plog" v A; date sorting=default
	plog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	# git 'pretty log' "plog" v A.2; date sorting=--date-order
	plog2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative   --date-order
	# git 'pretty log' "plog" v B
	plogb = log --graph --pretty=format:'%h was %an, %ar, message: %s'

	who = shortlog -s --
	new = "!sh -c 'git log $1@{1}..$1@{0} \"$@\"'"
	# See Also: http://hoagland.org/Dot.html
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
	
	changes = diff --name-status -r
	diffstat = diff --stat -r



[gui]
	fontdiff = -family terminus -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	trustmtime = true
	recentrepo = /home/bdavies/dev/git/gadget-nyc-w-year-selector-wo-tabset
	diffcontext = 100

[color]
	ui = auto

[branch]
	autosetupmerge = true

[push]
	default = tracking

[giggle]
	main-window-maximized = true
	main-window-geometry = 1278x1170+640+0
	history-view-vpane-position = 241
	file-view-vpane-position = 258
	main-window-view = FileView


# merge and conflict resolution shtuffs
[merge]
    tool = mymeld
[mergetool "mymeld"]
    cmd = $HOME/bin/gitmerge.sh $BASE $LOCAL $REMOTE $MERGED
